html, body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: fixed;
}

.shuffleboard {
  max-width: 100vw;
  max-height: 85vh;
}

.biscuit {
  stroke-width: 10;
  fill: #000;
  stroke: #444;
  cursor: move;
}

.biscuit.yellow {
  fill: #cccc00;
}

.reset-button {
  position: absolute;
  bottom: 14vh;
  left: calc(50% - 50px);
  font-size: 1rem;
  padding: 1rem 0;
  width: 100px;
}
